<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js')}}" defer> </script>
  </head>
<body>
  <header>
    <div class="logo"> logo aqui </div>
    <h1> Recoleccion y canje de recipientes </h1>
  </header>

  <form action="/" method="post">
    <h2>1. Selección de Transportista</h2>

    <label for="transportista">Transportista:</label>
    <select id="transportista" name="transportista">
      {% for name in names %}
        <option value="{{ name[0] }}">{{ name[0] }}</option>
      {% endfor %}
    </select>
    <br><br>

    <label for="camion">Camión:</label>
    <select id="camion" name="camion">
      {% for fleet in fleets %}
        <option value="{{ fleet[0] }}">{{ fleet[0] }}</option>
      {% endfor %}

    </select>
    <br><br>

    <label for="lugar">Lugar:</label>
    <select id="lugar" name="lugar">
      {% for collection_points_name in collection_points_names %}
        <option value="{{ collection_points_name[0] }}">{{ collection_points_name[0] }}</option>
      {% endfor %}
    </select>
    <br><br>

    <h2>2. Selección de Recipientes a Recolectar</h2>
    <div class="recoleccion-container">

      <label for="tipo_residuo">Tipo de Residuo:</label>
      <select id="tipo_residuo" name="tipo_residuo[]">
        {% for trash_type in trash_types %}
        <option value="{{ trash_type[0] }}">{{ trash_type[0] }}</option>
        {% endfor %}
      </select>
      <br><br>

      <label for="tipo_recipiente_recolectar">Tipo de Recipiente:</label>
      <select id="tipo_recipiente_recolectar" name="tipo_recipiente_recolectar[]">
        {% for recipient_type in recipient_types %}
        <option value="{{ recipient_type[0] }}">{{ recipient_type[0] }}</option>
        {% endfor %}
      </select>
      <br><br>

      <label for="cantidad_residuos">Peso de residuos (kg):</label>
      <input type="text" id="cantidad_residuos" name="cantidad_residuos[]">
      <br><br>
    </div>
    <button type="button" onclick="addRecoleccion()">Agregar Recolección</button>

    <h2>3. Selección de Recipientes a Entregar</h2>

    <div class="entrega-container">

      <label for="tipo_residuo_recolectar">Tipo de Residuo:</label>
      <select id="tipo_residuo_recolectar" name="tipo_residuo_recolectar[]">
        {% for trash_type in trash_types %}
        <option value="{{ trash_type[0] }}">{{ trash_type[0] }}</option>
        {% endfor %}
      </select>
      <br><br>

      <label for="tipo_recipiente_entregar">Tipo de Recipiente:</label>
      <select id="tipo_recipiente_entregar" name="tipo_recipiente_entregar[]">
        {% for recipient_type in recipient_types %}
        <option value="{{ recipient_type[0] }}">{{ recipient_type[0] }}</option>
        {% endfor %}
      </select>
      <br><br>

      <label for="cantidad_recipientes">Cantidad de Recipientes:</label>
      <input type="text" id="cantidad_recipientes" name="cantidad_recipientes[]">
      <br><br>
    </div>
    <button type="button" onclick="addEntrega()">Agregar Entrega</button>



    <h2>4. Confirmar Envío</h2>
    <input type="submit" value="Enviar">
  </form>

</body>
</html>
