<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js')}}" defer> </script>
  </head>
<body>
  <header>
    <div class="logo"> logo aqui </div>
    <h1> Recoleccion y canje de recipientes </h1>
  </header>

  <form action="/" method="post">
    <h2>1. Selección de Transportista</h2>

    <label for="transportista">Transportista:</label>
    <select id="transportista" name="transportista">
      {% for name in names %}
        <option value="{{ name[0] }}">{{ name[0] }}</option>
      {% endfor %}
    </select>
    <br><br>

    <label for="camion">Camión:</label>
    <select id="camion" name="camion">
      {% for fleet in fleets %}
        <option value="{{ fleet[0] }}">{{ fleet[0] }}</option>
      {% endfor %}

    </select>
    <br><br>

    <label for="lugar">Lugar:</label>
    <select id="lugar" name="lugar">
      <option value="lugar1">Lugar 1</option>
      <option value="lugar2">Lugar 2</option>
      <option value="lugar3">Lugar 3</option>
    </select>
    <br><br>

    <h2>2. Selección de Recipientes a Recolectar</h2>
    <div class="recoleccion-container">

      <label for="tipo_residuo">Tipo de Residuo:</label>
      <select id="tipo_residuo" name="tipo_residuo[]">
        <option value="residuo1">Residuo 1</option>
        <option value="residuo2">Residuo 2</option>
        <option value="residuo3">Residuo 3</option>
      </select>
      <br><br>

      <label for="tipo_recipiente_recolectar">Tipo de Recipiente:</label>
      <select id="tipo_recipiente_recolectar" name="tipo_recipiente_recolectar[]">
        <option value="recipiente1">Recipiente 1</option>
        <option value="recipiente2">Recipiente 2</option>
        <option value="recipiente3">Recipiente 3</option>
      </select>
      <br><br>

      <label for="cantidad_residuos">Cantidad de Residuos (kg):</label>
      <input type="number" id="cantidad_residuos" name="cantidad_residuos[]">
      <br><br>
    </div>
    <button type="button" onclick="addRecoleccion()">Agregar Recolección</button>

    <h2>3. Selección de Recipientes a Entregar</h2>

    <div class="entrega-container">
      <label for="tipo_recipiente_entregar">Tipo de Recipiente:</label>
      <select id="tipo_recipiente_entregar" name="tipo_recipiente_entregar[]">
        <option value="recipiente1">Recipiente 1</option>
        <option value="recipiente2">Recipiente 2</option>
        <option value="recipiente3">Recipiente 3</option>
      </select>
      <br><br>

      <label for="cantidad_recipientes">Cantidad de Recipientes:</label>
      <input type="number" id="cantidad_recipientes" name="cantidad_recipientes[]">
      <br><br>
    </div>
    <button type="button" onclick="addEntrega()">Agregar Entrega</button>



    <h2>4. Confirmar Envío</h2>
    <input type="submit" value="Enviar">
  </form>

</body>
</html>
